<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>six</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="topbar">
  <div class="logo">six</div>

   <div class="search-box">
    <input id="searchInput" placeholder="Search">
    <span class="search-icon" onclick="search()">🔍</span>
   </div>


  <div class="right-actions">
    <button class="upload-btn" onclick="startUpload()">Upload</button>
    <div class="profile-icon" onclick="toggleAuth()">👤</div>
  </div>
</header>

<!-- AUTH MODAL -->
<div id="authBox" class="auth-box">

  <div class="content">
    <form onsubmit="login(); return false;">

      <button type="button" class="close-btn" onclick="closeAuth()">✕</button>

      <h2>Login</h2>

      <div class="input-box">
        <input type="text" id="username" placeholder="Username" required>
      </div>

      <div class="input-box">
        <input type="password" id="password" placeholder="Password" required>
      </div>

      <div class="remember">
        <label>
          <input type="checkbox"> Remember me
        </label>
         <div class="forgot">
       <a href="#" class="forgot-pwd">Forgot Password?</a>
      </div>
     </div>

      <button type="submit" class="btnn">Login</button>
      
      <div class="register-link">
      <p>Don’t have an account?
      <a href="#" onclick="register()">Register</a>
      </p>
     </div>
    </form>
  </div>

</div>

   <footer class="footer">
  <div class="nav-item">
    <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji/assets/72x72/1f3e0.png">
    <span>Home</span>
  </div>

  <div class="nav-item">
    <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji/assets/72x72/1f50d.png">
    <span>Search</span>
  </div>

  <div class="nav-item">
    <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji/assets/72x72/2795.png">
    <span>Add</span>
  </div>

  <div class="nav-item">
    <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji/assets/72x72/1f464.png">
    <span>Profile</span>
  </div>
</footer>



<input type="file" id="fileInput" hidden>

<div id="feed"></div>

<script src="/static/script.js"></script>
</body>
</html>
