<! doctype>
<html>
<head>

<title>profile page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/menu.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <div class="menu-icon" id="menuBtn">☰</div>


<!....Sidebar.....>
<div class="sidebar" id="sidebar">
  <a href="page1.html">Settings</a>
  <a href="page2.html">About</a>
  <a href="page3.html">Contact</a>
  <a href="page4.html">Logout</a>
  <p>© 2026 Virrel App</p>
</div>

<div class="overlay" id="overlay"></div>


<script src="/static/script.js"></script>

</body>
</html>
